spring:
  application:
    name: SimpleLMS

  datasource:
    url: jdbc:h2:file:./data/lmsdb
    driver-class-name: org.h2.Driver
    username: sa
    password: 12345678

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  h2:
    console:
      enabled: true
      path: /h2-console

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

logging:
  level:
    root: info
    org.springframework: info
    org.hibernate.SQL: info
    kz.diploma.rprettser: info

server:
  port: 8080
